*{
  &::-webkit-scrollbar-track
  {
    background-color: transparent;

  }
  &::-webkit-scrollbar
  {
    $size:14px;
    width:$size;
    height:$size;
    padding-left: 2px;
    background-color: rgb(218, 243, 239);
  }
  &::-webkit-scrollbar-thumb
  {
    background-clip: padding-box;
    border: 3px solid rgba(255, 255, 255, 0);
    background-color: rgba(173, 164, 164, 0.8);
    border-radius: 8px;
  }
}
$inputBorderColor:#ccc;
html,body{
  margin:0;
  padding:0;
  width:100%;
  height:100%;
  overflow:auto;
}
#app{
  width:100%;
  height:100%;
  min-height:680px;
  overflow:hidden;
  display:flex;
  flex-direction: column;
  .jsoneditor-poweredBy{
    display:none;
  }
  textarea,input{
    outline:none;
  }
  textarea{
    resize: none;
    width:100%;
    height:50px;
  }
  input{
    border: 1px solid $inputBorderColor;
    text-indent:8px;
  }
  .file-input{
    display:none;
  }
  .basic-info{
    height:55px;
    input{
      height:34px;
      width:100%;
      border-left:none;
    }
    .btn{
      border-radius:0;
    }
    .c-row-title{
      overflow:visible !important;
      &:last-child{
        width:60px;
      }
    }
    .http-method{
      width:100%;
      .caret{
        float: right;
        margin-top: 8px;
      }
      button{
        width:100%;
        border-radius:0;
        outline:none;
      }
      .dropdown-menu{
        width:100%;
        border-radius:0;
      }
    }
  }
  .flex{
    display:flex;
    margin:0;
  }
  .flex-v-center{
    align-items: center;
  }
  .flex-h-center{
    justify-content: center;
  }
  .flex-column{
    flex-direction: column;
  }
  .flex-row{
    flex-direction:row;
  }
  .flex-item{
    flex:1;
  }
  .float-left{
    float:left;
  }
  .layout-option{
    height:40px;
  }
  .height100{
    height:100%;
  }
  .tab-item{
    cursor:pointer;
  }
  .tab-active{
    background-color: #c3e2e6;
    border-radius: 2px;
  }
  .panel{
    border-radius:0 !important;
    .panel-heading{
      width:100%;
      padding:0;
      border-radius: 0 !important;
      overflow:hidden;
      .header-tab{
        height:40px;
        width:100px;
        border-right:1px solid #ccc;
        padding:4px 0;
        float:left;
        cursor:pointer;
      }
    }
    >div{
      &:last-child{
        display:flex;
        width:100%;
        height:100%;
        overflow:auto;
        flex-direction: column;
      }
    }
  }
  .c-row-layout{
    padding:5px;
  }
  .c-row{
    list-tyle:none;
    margin:0;
    .c-row-title{
      width:100px;
      height:100%;
      overflow: hidden;
      text-align: center;
    }
    .c-row-input{
      overflow: hidden;
    }
  }
  .add-param-btn{
    width:100px;
    outline:none;
  }
  .c-row-param{
    width:100%;
    white-space: nowrap;
    min-height:30px;
    >.param-field{
      overflow:hidden;
      padding:0 8px;
      input{
        width:100%;
        outline:none;
      }
      button{
        outline:none;
        border: 1px solid #a99393;
        background-color: #b7f1be;
        &:active{
          background-color:#ace4b3;
        }
      }
      &.param-field-name{
        width:200px;
      }
      &.param-field-opt{
        width:120px;
      }
      &.param-field-split{
        width:30px;
      }
      &.param-field-input{
        flex:1;
      }
      &.param-field-text{
        word-break: break-all;
        white-space:normal;
      }
    }
  }
}