*{
  &::-webkit-scrollbar-track
  {
    background-color: transparent;

  }
  &::-webkit-scrollbar
  {
    $size:11px;
    width:$size;
    height:$size;
    padding-left: 2px;
    background-color: rgb(218, 243, 239);
    border-radius:.5em;
  }
  &::-webkit-scrollbar-thumb
  {
    background-clip: padding-box;
    border: 1px solid rgba(255, 255, 255, 0);
    background-color: rgba(173, 164, 164, 0.8);
    border-radius: .5em;
  }
}
$inputBorderColor:#ccc;
$margin:10px;
html,body{
  margin:0;
  padding:0;
  width:100%;
  height:100%;
  overflow:auto;
}
body{
  border-top:1px solid #ccc;
  .button,button{
    -webkit-user-select: none;
  }

  .logo{
    display:none;
    width:100%;
    height:100%;
    overflow:hidden;
    img{
      width:100%;
      height:100%;
    }
  }
  &[initing]{
    .logo{
      display:block;
    }

  }

}
[v-cloak]{
  display:none !important;
}
#app{
  width:100%;
  height:100%;
  overflow:hidden;
  display:flex;
  flex-direction: column;

  .loading-state{
    float:right;
    height:100%;
    padding-right:10px;
    white-space: nowrap;
  }
  .panel-request{
    height:50%;
    min-height:300px;
  }
  .panel-response{

  }
  .panel-request{
    .json-editor{
      position:relative;
      >div{
        position: absolute;
        top:$margin;
        bottom:$margin;
        left:$margin;
        right:$margin;
      }
    }
  }
  @keyframes app-show {
    from{
      opacity:0;
    }
    to{
      opacity: 1;
    }
  }
  &:not([v-cloak]){
    animation: app-show .8s;
  }
  .jsoneditor-poweredBy{
    display:none;
  }
  textarea,input{
    outline:none;
    font-weight: normal;
  }
  input{
    border: 1px solid $inputBorderColor;
    text-indent:8px;
  }
  .file-input{
    display:none;
  }
  .basic-info{
    height:55px;
    padding-top:10px;
    input{
      height:34px;
      width:100%;
      border-left:none;
    }
    .btn{
      border-radius:0;
    }
    .c-row-title{
      overflow:visible !important;
      &:last-child{
        width:60px;
      }
    }
    .http-method{
      width:100%;
      .caret{
        float: right;
        margin-top: 8px;
      }
      button{
        width:100%;
        border-radius:0;
        outline:none;
      }
      .dropdown-menu{
        width:100%;
        border-radius:0;
      }
    }
  }
  >.flex-item{
    overflow:auto;
  }
  .flex{
    display:flex;
    margin:0;
    position: relative;
  }
  .flex-v-center{
    align-items: center;
  }
  .flex-h-center{
    justify-content: center;
  }
  .flex-column{
    flex-direction: column;
  }
  .flex-row{
    flex-direction:row;
  }
  .flex-item{
    flex:1;
    position: relative;
  }
  .float-left{
    float:left;
  }
  .layout-option{
    height:40px;
  }
  .height100{
    height:100%;
  }
  .tab-item{
    cursor:pointer;
  }
  .tab-active{
    background-color: #c3e2e6;
    border-radius: 2px;
  }
  .content-type{
    background-color:#86b1ca;
  }
  .panel{
    border-radius:0 !important;
    .panel-heading{
      width:100%;
      padding:0;
      border-radius: 0 !important;
      overflow:hidden;
      height:41px;
      .header-tab{
        height:40px;
        width:100px;
        border-right:1px solid #ccc;
        padding:4px 0;
        float:left;
        cursor:pointer;
        &:active{
          background-color:#bbd8d8;
        }
      }
    }
    .content-panel{
      position: absolute;
      left:0;
      right:0;
      top:0;
      bottom:0;
      overflow:auto;
    }
  }
  .c-row-layout{
    padding:5px;
  }
  .c-row{
    list-tyle:none;
    margin:0;
    .c-row-title{
      width:100px;
      height:100%;
      overflow: hidden;
      text-align: center;
    }
    .c-row-input{
      overflow: hidden;
    }
  }
  .add-param-btn{
    width:100px;
    outline:none;
  }
  .c-row-param{
    width:100%;
    white-space: nowrap;
    min-height:30px;
    >.param-field{
      overflow:hidden;
      padding:0 8px;
      input{
        width:100%;
        outline:none;
      }
      button{
        outline:none;
        border: 1px solid #a99393;
        background-color: #b7f1be;
        &:active{
          background-color:#ace4b3;
        }
      }
      &.param-field-name{
        width:30%;
        min-width:200px;
        font-weight: bold;
      }
      &.param-field-opt{
        width:120px;
        text-align:center;
      }
      &.param-field-split{
        width:30px;
      }
      &.param-field-input{
        flex:1;
      }
      &.param-field-text{
        word-break: break-all;
        white-space:normal;
        &.param-field-name{
          white-space: normal;
          word-break: break-all;
          background-color:#dedddd;
        }
      }
    }
  }
}