*::-webkit-scrollbar-track {
  background-color: transparent; }
*::-webkit-scrollbar {
  width: 11px;
  height: 11px;
  padding-left: 2px;
  background-color: #daf3ef;
  border-radius: .5em; }
*::-webkit-scrollbar-thumb {
  background-clip: padding-box;
  border: 1px solid rgba(255, 255, 255, 0);
  background-color: rgba(173, 164, 164, 0.8);
  border-radius: .5em; }

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: auto; }

body {
  border-top: 1px solid #ccc; }
  body .button, body button {
    -webkit-user-select: none; }
  body .logo {
    display: none;
    width: 100%;
    height: 100%;
    overflow: hidden; }
    body .logo img {
      width: 100%;
      height: 100%; }
  body[initing] .logo {
    display: block; }

[v-cloak] {
  display: none !important; }

#app {
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column; }
  #app .loading-state {
    float: right;
    height: 100%;
    padding-right: 10px;
    white-space: nowrap; }
  #app .panel-request {
    height: 50%;
    min-height: 300px; }
  #app .panel-request .json-editor {
    position: relative; }
    #app .panel-request .json-editor > div {
      position: absolute;
      top: 10px;
      bottom: 10px;
      left: 10px;
      right: 10px; }
@keyframes app-show {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
  #app:not([v-cloak]) {
    animation: app-show .8s; }
  #app .jsoneditor-poweredBy {
    display: none; }
  #app textarea, #app input {
    outline: none;
    font-weight: normal; }
  #app input {
    border: 1px solid #ccc;
    text-indent: 8px; }
  #app .file-input {
    display: none; }
  #app .basic-info {
    height: 55px;
    padding-top: 10px; }
    #app .basic-info input {
      height: 34px;
      width: 100%;
      border-left: none; }
    #app .basic-info .btn {
      border-radius: 0; }
    #app .basic-info .c-row-title {
      overflow: visible !important; }
      #app .basic-info .c-row-title:last-child {
        width: 60px; }
    #app .basic-info .http-method {
      width: 100%; }
      #app .basic-info .http-method .caret {
        float: right;
        margin-top: 8px; }
      #app .basic-info .http-method button {
        width: 100%;
        border-radius: 0;
        outline: none; }
      #app .basic-info .http-method .dropdown-menu {
        width: 100%;
        border-radius: 0; }
  #app > .flex-item {
    overflow: auto; }
  #app .flex {
    display: flex;
    margin: 0;
    position: relative; }
  #app .flex-v-center {
    align-items: center; }
  #app .flex-h-center {
    justify-content: center; }
  #app .flex-column {
    flex-direction: column; }
  #app .flex-row {
    flex-direction: row; }
  #app .flex-item {
    flex: 1;
    position: relative; }
  #app .float-left {
    float: left; }
  #app .layout-option {
    height: 40px; }
  #app .height100 {
    height: 100%; }
  #app .tab-item {
    cursor: pointer; }
  #app .tab-active {
    background-color: #c3e2e6;
    border-radius: 2px; }
  #app .content-type {
    background-color: #86b1ca; }
  #app .panel {
    border-radius: 0 !important; }
    #app .panel .panel-heading {
      width: 100%;
      padding: 0;
      border-radius: 0 !important;
      overflow: hidden;
      height: 41px; }
      #app .panel .panel-heading .header-tab {
        height: 40px;
        width: 100px;
        border-right: 1px solid #ccc;
        padding: 4px 0;
        float: left;
        cursor: pointer; }
        #app .panel .panel-heading .header-tab:active {
          background-color: #bbd8d8; }
    #app .panel .content-panel {
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      overflow: auto; }
  #app .c-row-layout {
    padding: 5px; }
  #app .c-row {
    list-tyle: none;
    margin: 0; }
    #app .c-row .c-row-title {
      width: 100px;
      height: 100%;
      overflow: hidden;
      text-align: center; }
    #app .c-row .c-row-input {
      overflow: hidden; }
  #app .add-param-btn {
    width: 100px;
    outline: none; }
  #app .c-row-param {
    width: 100%;
    white-space: nowrap;
    min-height: 30px; }
    #app .c-row-param > .param-field {
      overflow: hidden;
      padding: 0 8px; }
      #app .c-row-param > .param-field input {
        width: 100%;
        outline: none; }
      #app .c-row-param > .param-field button {
        outline: none;
        border: 1px solid #a99393;
        background-color: #b7f1be; }
        #app .c-row-param > .param-field button:active {
          background-color: #ace4b3; }
      #app .c-row-param > .param-field.param-field-name {
        width: 200px;
        font-weight: bold; }
      #app .c-row-param > .param-field.param-field-opt {
        width: 120px;
        text-align: center; }
      #app .c-row-param > .param-field.param-field-split {
        width: 30px; }
      #app .c-row-param > .param-field.param-field-input {
        flex: 1; }
      #app .c-row-param > .param-field.param-field-text {
        word-break: break-all;
        white-space: normal; }
        #app .c-row-param > .param-field.param-field-text.param-field-name {
          background-color: #dedddd; }

/*# sourceMappingURL=main.css.map */
